In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train=pd.read_csv("train.csv")

In [3]:
test=pd.read_csv("test.csv")

In [4]:
numbers = pd.read_csv('index.csv',names=['no'])

ID - An ID assigned to every campaign.


Start Date - Date on which the campaign was started.


End Date - Date on which the campaign will end.


Category - Category to which the campaign belongs.


Currency - Currency in which donations are accepted. Goal and amount collected are also specified in the same currency.


Goal - Amount to be reached for the campaign to succeed.


Status - The status of the campaign, either 'Success' or 'Failed'.

In [5]:
train.head()

,ID,Start Date,End Date,Category,Currency,Goal,Status
0,1,3/6/2014,4/8/2014,Arts & Creative,USD,10000,Failed
1,2,3/11/2014,4/20/2014,Arts & Creative,USD,20000,Failed
2,3,4/2/2014,4/23/2014,Film & Video,USD,2700,Failed
3,4,23-Sep-17,NaN,"Health, Illness or Medical",U.S. Dollar,36900,Failed
4,5,1/13/2014,1/30/2014,Music,USD,1200,Failed

In [6]:
test.head()

      ID Start Date   End Date         Category         Currency   Goal
0  12121  4/18/2014  5/18/2014            Games              USD  10000
1  12122   3/5/2014   4/4/2014  Arts & Creative              USD   7500
2  12123   2/4/2014   3/6/2014     Film & Video              USD    500
3  12124  3/25/2014  4/24/2014            Games              USD  29550
4  12125  14-Sep-15        NaN         Politics  Canadian Dollar   2500

In [7]:
train.shape

(12120, 7)

In [8]:
test.shape

(8080, 6)

In [9]:
train.isnull().sum()

ID               0
Start Date       0
End Date      2646
Category         0
Currency         0
Goal             0
Status           0
dtype: int64

In [10]:
test.isnull().sum()

ID               0
Start Date       0
End Date      1816
Category         0
Currency         0
Goal             0
dtype: int64

In [11]:
train["Category"].unique()

array(['Arts & Creative', 'Film & Video', 'Health, Illness or Medical',
       'Music', 'Veterans & Heroes', 'Games', 'Celebrations and Weddings',
       'Food', 'Design', 'Fashion', 'Memorials & Funerals', 'Technology',
       'Publishing', 'Theater', 'Politics', 'Education & Schools',
       'Photography', 'Business', 'Animals & Humane',
       'Accidents & Disasters', 'Crafts', 'Dance', 'Travel',
       'Community & Volunteer', 'Legal', 'Sports & Competitions',
       'Non-profits & Charity', 'Faith & Religion', 'Family & Kids',
       'Journalism', 'Alumni & Clubs'], dtype=object)

In [12]:
train["Currency"].unique()

array(['USD', 'U.S. Dollar', 'GBP', 'CAD', 'AUD', 'Canadian Dollar',
       'Euro', 'NZD', 'Australian Dollar', 'Israeli New Sheqel',
       'Pound Sterling', 'EUR', 'Philippine Peso', 'Swedish Krona',
       'Norwegian Krone', 'Hong Kong Dollar', 'Russian Ruble', 'Thai Baht',
       'Danish Krone', 'New Zealand Dollar', 'Japanese Yen', 'Swiss Franc',
       'Singapore Dollar', 'Polish Zlotych'], dtype=object)

In [13]:
train[train["Status"]=="Failed"].count()

ID            6981
Start Date    6981
End Date      4822
Category      6981
Currency      6981
Goal          6981
Status        6981
dtype: int64

In [14]:
train["Status"].unique()
train[train["Status"]=="Success"].count()

ID            5139
Start Date    5139
End Date      4652
Category      5139
Currency      5139
Goal          5139
Status        5139
dtype: int64

In [15]:
train.dtypes

ID             int64
Start Date    object
End Date      object
Category      object
Currency      object
Goal           int64
Status        object
dtype: object

In [16]:
train['source']='train'
test['source']='test'
data = pd.concat([train, test],ignore_index=True)

In [17]:
train_test = [data]

In [18]:
data.head()

,Category,Currency,End Date,Goal,ID,Start Date,Status,source
0,Arts & Creative,USD,4/8/2014,10000,1,3/6/2014,Failed,train
1,Arts & Creative,USD,4/20/2014,20000,2,3/11/2014,Failed,train
2,Film & Video,USD,4/23/2014,2700,3,4/2/2014,Failed,train
3,"Health, Illness or Medical",U.S. Dollar,NaN,36900,4,23-Sep-17,Failed,train
4,Music,USD,1/30/2014,1200,5,1/13/2014,Failed,train

In [19]:
for dataset in train_test:
    dataset.loc[(dataset['Currency']=='USD')|(dataset['Currency']=='U.S. Dollar'),'Goal'] *= 72.48
    dataset.loc[(dataset['Currency']=='GBP')|(dataset['Currency']=='Pound Sterling'),'Goal'] *= 95.70
    dataset.loc[(dataset['Currency']=='CAD')|(dataset['Currency']=='Canadian Dollar'),'Goal'] *= 56.10
    dataset.loc[(dataset['Currency']=='AUD')|(dataset['Currency']=='Australian Dollar'),'Goal'] *= 52.66
    dataset.loc[(dataset['Currency']=='EUR')|(dataset['Currency']=='Euro'),'Goal'] *= 84.90
    dataset.loc[(dataset['Currency']=='NZD')|(dataset['Currency']=='New Zealand Dollar'),'Goal'] *= 47.92
    dataset.loc[(dataset['Currency']=='Israeli New Sheqel'),'Goal'] *= 20.28
    dataset.loc[(dataset['Currency']=='Philippine Peso'),'Goal'] *= 1.34
    dataset.loc[(dataset['Currency']=='Swedish Krona'),'Goal'] *= 8.17
    dataset.loc[(dataset['Currency']=='Norwegian Krone'),'Goal'] *= 8.89
    dataset.loc[(dataset['Currency']=='Hong Kong Dollar'),'Goal'] *= 9.25
    dataset.loc[(dataset['Currency']=='Russian Ruble'),'Goal'] *= 1.08
    dataset.loc[(dataset['Currency']=='Thai Baht'),'Goal'] *= 2.24
    dataset.loc[(dataset['Currency']=='Danish Krone'),'Goal'] *= 11.37
    dataset.loc[(dataset['Currency']=='Japanese Yen'),'Goal'] *= 0.64
    dataset.loc[(dataset['Currency']=='Swiss Franc'),'Goal'] *= 74.97
    dataset.loc[(dataset['Currency']=='Singapore Dollar'),'Goal'] *= 52.93
    dataset.loc[(dataset['Currency']=='Polish Zlotych'),'Goal'] *= 19.74

In [20]:
data.drop('Currency',axis=1,inplace=True)

In [21]:
import datetime

In [22]:
data.loc[716,"Start Date"]='4/8/2014'
data.loc[4890,"Start Date"]='1/31/2014'
data.loc[14239,"Start Date"]='4/1/2014'
data.loc[14490,"Start Date"]='5/8/2014'

In [23]:
for index,row in numbers.iterrows():
    temp = data.loc[row['no']-1,'Start Date']
    data.loc[row['no']-1,'Start Date'] = data.loc[row['no']-1,'End Date']
    data.loc[row['no']-1,'End Date'] = temp

In [24]:
data["Start Date"]=pd.to_datetime(data["Start Date"],errors='coerce')
data["End Date"]=pd.to_datetime(data["End Date"],errors='coerce')

In [25]:
for index,row in data.iterrows():
    data.loc[index,'start_month'] = row['Start Date'].month

In [26]:
data["days"]=(data["End Date"]-data["Start Date"]).astype(datetime.timedelta).map(lambda x:x.days)

In [27]:
data.head()

,Category,End Date,Goal,ID,Start Date,Status,source,start_month,days
0,Arts & Creative,2014-04-08,724800.0,1,2014-03-06,Failed,train,3.0,33.0
1,Arts & Creative,2014-04-20,1449600.0,2,2014-03-11,Failed,train,3.0,40.0
2,Film & Video,2014-04-23,195696.0,3,2014-04-02,Failed,train,4.0,21.0
3,"Health, Illness or Medical",NaT,2674512.0,4,2017-09-23,Failed,train,9.0,NaN
4,Music,2014-01-30,86976.0,5,2014-01-13,Failed,train,1.0,17.0

In [28]:
data.dtypes

Category               object
End Date       datetime64[ns]
Goal                  float64
ID                      int64
Start Date     datetime64[ns]
Status                 object
source                 object
start_month           float64
days                  float64
dtype: object

In [29]:
data.drop(["Start Date","End Date"],axis=1,inplace=True)

In [30]:
data.head()

                     Category       Goal  ID  Status source  start_month  days
0             Arts & Creative   724800.0   1  Failed  train          3.0  33.0
1             Arts & Creative  1449600.0   2  Failed  train          3.0  40.0
2                Film & Video   195696.0   3  Failed  train          4.0  21.0
3  Health, Illness or Medical  2674512.0   4  Failed  train          9.0   NaN
4                       Music    86976.0   5  Failed  train          1.0  17.0

In [31]:
from scipy import stats
data["days"]=data["days"].fillna(data.groupby("Category")["days"].transform("median"))
data["days"]=data["days"].fillna(data["days"].median())

In [32]:
data.isnull().sum()

Category          0
Goal              0
ID                0
Status         8080
source            0
start_month       0
days              0
dtype: int64

In [33]:
data.dtypes

Category        object
Goal           float64
ID               int64
Status          object
source          object
start_month    float64
days           float64
dtype: object

In [34]:
#sns.swarmplot(x=data["days"],y=data["Goal"])
from sklearn.preprocessing import LabelEncoder

In [35]:
data["days"]=data["days"].astype('int64')
data["Goal"]=data["Goal"].astype('int64')

In [36]:
var_mod = ['Category','start_month']
le=LabelEncoder()
for i in var_mod:
    data[i] = le.fit_transform(data[i])

In [37]:
data=pd.get_dummies(data,columns=['Category','start_month'])

In [38]:
data.head()

,Goal,ID,Status,source,days,Category_0,Category_1,Category_2,Category_3,Category_4,...,start_month_2,start_month_3,start_month_4,start_month_5,start_month_6,start_month_7,start_month_8,start_month_9,start_month_10,start_month_11
0,724800,1,Failed,train,33,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
1,1449600,2,Failed,train,40,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,195696,3,Failed,train,21,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,2674512,4,Failed,train,90,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,86976,5,Failed,train,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
data["daily goal"]=data["Goal"]/data["days"]

In [40]:
train = data.loc[data['source']=="train"]
test = data.loc[data['source']=="test"]
test.drop(['source'],axis=1,inplace=True)
train.drop(['source'],axis=1,inplace=True)

/home/sirzechlucifer/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/sirzechlucifer/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [41]:
train.head()

,Goal,ID,Status,days,Category_0,Category_1,Category_2,Category_3,Category_4,Category_5,...,start_month_3,start_month_4,start_month_5,start_month_6,start_month_7,start_month_8,start_month_9,start_month_10,start_month_11,daily goal
0,724800,1,Failed,33,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,21963.636364
1,1449600,2,Failed,40,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,36240.000000
2,195696,3,Failed,21,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,9318.857143
3,2674512,4,Failed,90,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,29716.800000
4,86976,5,Failed,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5116.235294

In [42]:
test.head()

,Goal,ID,Status,days,Category_0,Category_1,Category_2,Category_3,Category_4,Category_5,...,start_month_3,start_month_4,start_month_5,start_month_6,start_month_7,start_month_8,start_month_9,start_month_10,start_month_11,daily goal
12120,724800,12121,NaN,30,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,24160.000000
12121,543600,12122,NaN,30,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,18120.000000
12122,36240,12123,NaN,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1208.000000
12123,2141784,12124,NaN,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,71392.800000
12124,140250,12125,NaN,82,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1710.365854

In [43]:
# train["daily goal"]=train["daily goal"].astype('int64')
# test["daily goal"]=test["daily goal"].astype('int64')

In [44]:
result_map={'Failed':0,'Success':1}
train_test=[train]
for entry in train_test:
    entry["Status"]=entry["Status"].map(result_map)
train["Status"]=train["Status"].astype('int64')

/home/sirzechlucifer/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/sirzechlucifer/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [45]:
from sklearn.preprocessing import StandardScaler

In [46]:
ss=StandardScaler()

In [47]:
ID=test["ID"]
target=train["Status"]
train.drop(["ID","Status"],inplace=True,axis=1)
test.drop(["ID","Status"],inplace=True,axis=1)

/home/sirzechlucifer/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/sirzechlucifer/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [48]:
train.head()

,Goal,days,Category_0,Category_1,Category_2,Category_3,Category_4,Category_5,Category_6,Category_7,...,start_month_3,start_month_4,start_month_5,start_month_6,start_month_7,start_month_8,start_month_9,start_month_10,start_month_11,daily goal
0,724800,33,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,21963.636364
1,1449600,40,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,36240.000000
2,195696,21,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,9318.857143
3,2674512,90,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,29716.800000
4,86976,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5116.235294

# XGBOOST

In [103]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [104]:
train_1,cross_val,target_train,target_crossval=train_test_split(train,target,test_size=0.20,shuffle=True)
cross_val1,test_crossval,target_crossval1,target_test=train_test_split(cross_val,target_crossval,test_size=0.1,shuffle=True)

In [105]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [106]:
my_model=XGBClassifier(random_state=1001)
#my_model=GradientBoostingClassifier(random_state=1001)

{'colsample_bytree': 1.0,
 'gamma': 5,
 'learning_rate': 0.2,
 'max_depth': 5,
 'min_child_weight': 5,
 'n_estimators': 200,
 'subsample': 0.6}

In [107]:
my_model.fit(train_1,target_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic',
       random_state=1001, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

In [108]:
predictions=my_model.predict(cross_val1)
print("The accuracy for cross_val is:"+str(accuracy_score(predictions,target_crossval1)))
final_pred=my_model.predict(test_crossval)
print("The accuracy for test  is:"+str(accuracy_score(final_pred,target_test)))
print("The f1 score for cross_val is:"+str(f1_score(predictions,target_crossval1)))
print("The f1 score for test  is:"+str(f1_score(final_pred,target_test)))

The accuracy for cross_val is:0.67537826685
The accuracy for test  is:0.711934156379
The f1 score for cross_val is:0.6
The f1 score for test  is:0.602272727273

# BEST Parameter Search

In [55]:
# from sklearn.ensemble import RandomForestClassifier
# from xgboost import XGBClassifier
# from pprint import pprint

In [56]:
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV

In [57]:
params = {
        'min_child_weight': [1, 5, 10],
        'gamma': [0.5, 1, 1.5, 2, 5],
        'subsample': [0.6, 0.8, 1.0],
        'colsample_bytree': [0.6, 0.8, 1.0],
        'max_depth': [3, 4, 5]
        }

xgb = XGBClassifier(learning_rate=0.1, n_estimators=600, objective='binary:logistic',
                  silent=True, nthread=1)

In [58]:
from sklearn.model_selection import StratifiedKFold

In [59]:
# folds = 5

# skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)

# random_search = GridSearchCV(xgb,params, scoring='f1', n_jobs=4, cv=skf.split(train_1,target_train), verbose=3) 
# random_search.fit(train_1,target_train)

In [60]:
# random_search.best_params_

In [61]:
# my_model.fit(train_1,target_train)
# predictions=random_search.predict(cross_val1)
# print("The accuracy for cross_val is:"+str(accuracy_score(predictions,target_crossval1)))
# final_pred=random_search.predict(test_crossval)
# print("The accuracy for test  is:"+str(accuracy_score(final_pred,target_test)))
# print("The f1 score for cross_val is:"+str(f1_score(predictions,target_crossval1)))
# print("The f1 score for test  is:"+str(f1_score(final_pred,target_test)))

In [109]:
final_predictions=my_model.predict(test)

In [110]:
final_predictions[0]

0

In [111]:
submission = pd.DataFrame({"Id":ID,"Status": final_predictions})
submission.to_csv('tenth.csv', index=False)

In [112]:
submission=pd.read_csv("tenth.csv")

In [113]:
submission.head()

      Id  Status
0  12121       0
1  12122       0
2  12123       1
3  12124       0
4  12125       0

In [114]:
result_map={0:'Failed',1:'Success'}
train_test=[submission]
for entry in train_test:
    submission["Status"]=submission["Status"].map(result_map)

In [115]:
submission.to_csv('tenth.csv', index=False)